footer {
  background-color: var(--color-dark-green);
  color: var(--color-text-light);
  height: 90px;
  width: 100%;
  max-width: var(--site-max-full);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--site-max-full);
  padding: 0 40px;
  margin-left: 80px;
  margin-right: 80px;
  box-sizing: border-box;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #e8efe8;
}

.footer-right {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-right a {
  color: #e8efe8;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-right a:hover {
  text-decoration: underline;
}

.arrow {
  font-size: 12px;
}
