@import "./Variables.css";

.getintouch-section {
  background-color: var(--color-bg-light);
  max-width: var(--site-max-full);
  margin: 0 auto;
  padding: var(--section-padding-y) var(--section-padding-x);
}

.getintouch-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  max-width: var(--site-max);
  margin: 0 auto;
}

.getintouch-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.getintouch-subtitle {
  font-family: var(--font-heading-main);
  font-weight: 700;
  font-size: 20px;
  color: var(--color-accent-yellow);
  margin-bottom: 0;
}

.getintouch-title {
  font-family: var(--font-heading-main);
  font-weight: 700;
  font-size: 48px;
  color: var(--color-dark-green);
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
}

.getintouch-description {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text-dark);
  line-height: 1.6;
  max-width: 550px;
  margin: 0;
}

.map-placeholder-getintouch {
  width: 100%;
  height: 367px;
  background-color: #cfcfcf;
}

.getintouch-right {
  background-color: #fdfaf1;
  border-radius: 10px;
  padding: 40px;
  height: 600px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.error-text {
  color: red;
  font-family: var(--font-main);
  font-size: 13px;
  margin: 0;
}

.success-message-getintouch {
  color: var(--color-dark-green);
  font-family: var(--font-main);
  font-size: 14px;
  position: absolute;
  left: 135px;
  top: 40%;
  transform: translateY(-50%);
  white-space: normal;
  max-width: 330px;
  line-height: 1.4;
}

input,
textarea {
  border: 1px solid var(--color-accent-yellow);
  border-radius: 4px;
  padding: 16px 14px;
  font-family: var(--font-main);
  font-size: 14px;
  color: var(--color-text-dark);
  outline: none;
}

textarea {
  resize: none;
  height: 120px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.submit-btn {
  background-color: var(--color-accent-yellow);
  color: var(--color-dark-green);
  font-weight: 600;
  font-family: var(--font-heading-main);
  border: none;
  border-radius: 6px;
  padding: 12px 28px;
  cursor: pointer;
  width: 120px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #e6b800;
}

.submit-row {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 10px;
}
