@import "./Variables.css";

.subscribe-section {
  background-color: #fcfaef;
  padding: 80px 0;
  color: var(--color-dark-green);
}

.subscribe-section .container {
  max-width: var(--site-max);
  margin: 0 auto;
  padding: 0 var(--section-padding-x);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.subscribe-left {
  max-width: 600px;
}

.subscribe-left h2 {
  font-family: var(--font-heading);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subscribe-left p {
  font-family: var(--font-main);
  font-size: var(--font-medium);
  color: var(--color-text-dark);
  margin: 0;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subscribe-form input {
  width: 480px;
  height: 56px;
  border: 1px solid var(--color-accent-yellow);
  border-radius: 6px;
  padding: 0 18px;
  font-size: var(--font-medium);
  font-family: var(--font-main);
  outline: none;
}

.subscribe-form input::placeholder {
  color: var(--color-accent-yellow);
}

.subscribe-form button {
  width: 128px;
  height: 56px;
  background-color: var(--color-accent-yellow);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--color-dark-green);
  cursor: pointer;
}

.success-message {
  font-family: var(--font-main);
  font-size: var(--font-medium);
  font-weight: 600;
  color: var(--color-dark-green);
  margin-top: 20px;
}
