
/* Verktygslådan med mina färger, typsnitt och regler som jag alltid kan välja att kalla på i de olika css-filerna */

:root {
  --site-max: 1367px;
  --site-max-full: 1920px;
  --container-padding-x: 40px;

  /* Färger */
  --color-dark-green: #12372A;
  --color-accent-yellow: #D4A10B;
  --color-text-dark: #222222;
  --color-text-light: #FFFFFF;
  --color-bg-light: #FFFFFF;
  --color-bg-grey: #f5f5f5;

  --color-accent-light: #f7e9b0;
  --color-accent-green: #155e3f;
  --color-bg-alt: #f8f8f8;
  --color-bg-cream: #FAF8EC;
 
  --font-main: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 32px;
  --font-xl: 52px;
  --font-xxl: 80px;

  --shadow-light: 0 2px 6px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.15);
  --transition-fast: 0.2s ease;
  --transition-medium: 0.4s ease;

  --section-padding-y: 80px;
  --section-padding-x: 40px;
  --border-radius: 6px;

  --font-button: 15px;

  --font-heading-main: "Urbanist", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}